*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
html{
    font-size: 62.5%;
}
    
body{
    width: 100%;
    height: 100vh;
    font-size: 2rem;
}

#content{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    padding: 10px;
    background-color: lawngreen;
}

#contentMatrice{
    width: 60%;
    background-color: blue;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 0 10px 10px black inset;
}

.carre, .rond, .losange{
    width: calc(30rem / 5);
    height: calc(30rem / 5);
    margin: 3rem;
    border: 2px solid white;
}

.rond{
    border-radius: 50%;
}

.losange{
    transform: rotate(45deg);
}

.plein {
    background-color: khaki;
}

@media screen and (max-width: 992px){
    #contentMatrice{
        width: 100%;
        height: 100vh;
    }

    .carre, .rond, .losange{
        width: calc(15rem / 5);
        height: calc(15rem / 5);
    }
}

@media screen and (max-width: 698px){
    .carre, .rond, .losange{
        width: calc(40vw / 5);
        height: calc(20vh / 5);
        margin: 2rem;
    }
}